entrypoint="index.html"
hidden=[".config"]
modules = ["web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"

[objectStorage]
defaultBucketID = "replit-objstore-5be65a7f-ff0e-45dd-8e6d-c06f0aaab059"
